.card {
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
}

.dark .card:hover::before {
    opacity: 1;
}

.card:hover::before {
    opacity: 1;
}

.dark .card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(255, 255, 255, 0.2),
            transparent 20%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: opacity 0.5s ease-out;
    z-index: 2;
    pointer-events: none;
}

.card::before {
    background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
            rgba(0, 0, 0, 0.2),
            transparent 20%);
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    transition: opacity 0.5s ease-out;
    z-index: 2;
    pointer-events: none;
}